<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head >
<body>
<div th:insert="fragments/navbar.html :: navbar">
</div>
<h1>
    <center>Strona logowania!</center>
</h1>

<center>
<form action="#" th:action="@{/changePassword}" th:object="${user}" method="POST">

    <p>login <input type="text" th:field="*{name}"/></p>
    <p>password <input type="password" th:field="*{password}"/></p>
    <p>repeat password <input type="password" th:field="*{repeatPassword}"/></p>

    <p>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </p>
</form>
</center>

<footer th:insert="fragments/navbar.html :: footer"></footer>


</body>
</html>