<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head >
<body>
<div th:insert="fragments/navbar.html :: navbar">
</div>
<h1>
    <center>Panel użytkownika!</center>
</h1>

<center>

    <table align="center">
        <tr>
            <td>userId</td>
            <td>name</td>
            <td>email</td>
            <td>companyName</td>
            <td>companyAddress</td>
            <td>companyNip</td>
            <td>lastName</td>
            <td>password</td>
        </tr>
        <tr th:each="user : ${user}"}>
            <td th:text="${user.userId}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.companyName}"></td>
            <td th:text="${user.companyAddress}"></td>
            <td th:text="${user.companyNip}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.password}"></td>
        </tr>
    </table>

</center>

<footer th:insert="fragments/navbar.html :: footer"></footer>

</body>
</html>