<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head >
<body>
<div th:insert="fragments/navbar.html :: navbar">
</div>
<h1>
    <center>Strona rejestracji!</center>
</h1>

<center>
<form action="#" th:action="@{/user/register}" th:object="${user}" method="post">
    <p>email <input type="text"/></p>
    <p>password <input type="password"/></p>
    <p>repeat password <input type="password"/></p>

    <p>companyName<input type="text" /></p>
    <p>companyAddress<input type="text" /></p>
    <p>companyNip<input type="text" /></p>
    <p>name<input type="text" /></p>
    <p>lastName<input type="text" /></p>


    <p>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </p>
</form>
</center>

<footer th:insert="fragments/navbar.html :: footer"></footer>

</body>
</html>